@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

@media screen and (max-width: 900px) {
  .body {
    flex-wrap:wrap;
  }
  
  .card{
    width: 100vw !important;
    height: 100vw !important;
  }

  .meio {
    display: none;
  }
}

*{
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.card{
  background-color: rgb(115, 217, 250);
  width: 40%;
  height: 96vh;
  padding: 10px;
  margin: 2vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input {
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  padding: 8px;
}

.titulo {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 5px;
}

.map {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}

.meio > p {
  font-size: 100px;
}